
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */